.tengah {
  text-align: center;
  width: 100%;
}

a.tbl-biru,
a.tbl-pink {
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

a.tbl-biru {
  background: #3f72af;
}

a.tbl-biru:hover {
  background: #fc5185;
  text-decoration: none;
}

a.tbl-pink {
  background: #fc5185;
}

a.tbl-pink:hover {
  background: #3f72af;
  text-decoration: none;
}

section {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

p {
  margin: 10px 0;
  padding: 10px 0;
}

.kolom {
  margin: 50px 0;
}

.kolom .deskripsi {
  font-size: 20px;
  font-weight: bold;
  font-family: "comic sans ms";
  color: #364f6b;
}

h2 {
  font-family: "comic sans ms";
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 20px;
  color: #364f6b;
  width: 100%;
  line-height: 50px;
}

@media screen and (max-width: 991.98px) {
  section {
    display: block;
  }

  section img {
    display: block;
    width: 100%;
    height: auto;
  }

  .kolom .deskripsi,
  h2 {
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .kolom .deskripsi,
  h2 {
    font-size: 25px;
    line-height: 35px;
  }
}
